{% extends 'base.html.twig' %}

{% block title %}Hello AdoptionController!{% endblock %}

{% block body %}

<h1 class="titre"> L'ADOPTION RESPONSABLE </h1>
<hr>

<div style="text-align: center;">
<img src="{{ asset('assets/pictures/adp.jpg') }}" width="500" height="500" class="center-image"/>
</div>
<h3 class="titre"> Préparer son projet d’adoption </h3>
<p class="text">De nombreux animaux attendent une famille dans les refuges de FurryFriends. Vous souhaitez vivre une belle histoire en accueillant l’un deux ? Une adoption doit être responsable, c’est un véritable engagement qui se réfléchi bien en amont ! La SPA vous accompagne dans toutes les étapes de votre projet d’adoption.</p>
<img src="{{ asset('assets/pictures/adp2.jpg') }}" width="500" height="500" class="center-image"/>
<p class="text"> Adopter un animal est un acte sérieux et une démarche qui se doit responsable. C’est un engagement financier et personnel afin d’offrir bien-être et santé à l’animal. En tant qu’être vivant, chaque animal, quelle que soit son espèce, mérite du temps, de l’attention et de l’amour ! L’adoption implique tous les membres d’une famille qui s’engagent à respecter et à prendre soin de leur compagnon.</p>
<hr>
<h3 class="titre">Réfléchir à son projet d’adoption</h3>
<p class="text">Avant d’adopter un animal, assurez-vous de prendre en compte tous les aspects que cela implique pour éviter de faire prendre une mauvaise décision. En effet, une adoption faite sur un coup de tête a souvent des répercussions négatives à long terme, autant pour la famille que pour l’animal adopté.
<hr>
<p class="text"> Les cinq erreurs à ne pas commettre lors d’une adoption :</p>
<ul class="text">
        <li>Adopter sur un coup de tête</li>
        <li>Sous-estimer ses responsabilités</li>
        <li>Imposer un animal aux membres de sa famille</li>
        <li>Se précipitez pour adopter</li>
         <li>Choisir un animal qui ne nous correspond pas</li>
</ul>
<p class="text">Avoir un animal est une grande responsabilité au quotidien. Pour éviter tout désagrément et impact négatif, il est impératif de choisir un animal en fonction de votre caractère et de votre mode de vie.
Rappelez-vous qu’un animal a un coût jusqu’à la fin de sa vie : vétérinaire, nourriture, vacances… Ces obligations vous engagent sur plusieurs années, c’est pourquoi il est important de ne pas les oublier et de ne pas les minimiser.
Adopter est une décision qui prend du temps et un acte réfléchi. L’adoption responsable fera le bonheur de votre animal et aussi… le vôtre !</p>

<h1 class="text">Les étapes à suivre : </h1>

<ul class="text">
        <li>Crée un compte Furry Friend</li>
        <li>Entrer ses informations personnel dans la partie mon compte</li>
        <li>Parcourir les animaux présenter</li>
        <li>Contacter Furry Friend pour bénéficier d'un rendez-vous</li>
        <li>Si l'adoption prise en compte, Laisser un avis sur la page Furry Friend</li>
</ul>

{% endblock %}
