{% extends 'base.html.twig' %}

{% block title %}Hello AdoptionController!{% endblock %}

{% block body %}

<h1 class="titre"> Tout savoir sur la maltraitance</h1>
<div style="text-align: center;">
<img src="{{ asset('assets/pictures/mlt1.jpg') }}" width="500" height="500" class="center-image"/>
</div>

<h3 class="titre"> Définition de la maltraitence </h3>
<p class="text"> Il est crucial de savoir mettre les mots exacts sur le concept de maltraitance animale pour en définir les caractéristiques, les conséquences mais aussi les devoirs de responsabilité citoyenne qui, au quotidien, nous incombent tous.</p>


<h3 class="titre"> Qu'est ce que la maltraitance ? </h3>
<p class="text"> En l’absence d’une caractérisation claire de ce qu’est la maltraitance, les besoins physiologiques des animaux tels qu’inscrits dans le code rural sont des indices.
                 L’article L214-1 du code rural et de la pêche maritime précise que les conditions dans lesquelles vit l’animal doivent correspondre aux « impératifs biologiques de son espèce ». Ces impératifs se fondent directement sur les Cinq Libertés fondamentales du bien-être animal (définition de l’Organisation Mondiale de la Santé Animale – OIE), à savoir :</p>

<ul class="text">
        <li>Ne pas souffrir de faim et de soif</li>
        <li>Ne pas souffrir de contraintes physiques</li>
        <li>Ne pas être sujet à la douleur, aux blessures et aux maladies</li>
        <li>Avoir la liberté d’exprimer des comportements normaux propres à son espèce</li>
        <li>Être protégé de la peur et de la détresse</li>
</ul>

<p class="text">Il peut donc être déduit que la maltraitance commence dès que l’une de ces règles est bafouée.
                Les interdictions en lien avec ces Cinq Libertés sont l’objet principal des articles R214-17 et R214-18 du code rural.</p>

{% endblock %}