{% extends 'base.html.twig' %}

{% block title %}Hello AdoptionController!{% endblock %}

{% block body %}

<h1 class="titre"> Prendre soins de ses animaux </h1>

    <p class="text">Votre animal compte énormément pour vous ? Vous veillez à sa santé, son bonheur et son épanouissement ?

                    FurryFriend vous aide à prendre soin de votre animal de compagnie !

                    Cette rubrique s’adresse à vous si vous avez un chien ou un chat, mais aussi si vous êtes propriétaire d’un NAC (Nouveaux Animaux de Compagnie), ou même d’un équidé ou d’animaux de ferme.

                    Vous y trouverez les conseils de la SPA concernant toute la vie de votre animal : garantir sa santé, surveiller son alimentation, comprendre son comportement, l’éduquer, lui offrir des loisirs…

                    Nous vous accompagnons afin que vous puissiez lui offrir une vie heureuse et équilibrée.
                    Prendre soin de votre animal, c’est bien plus que votre responsabilité de propriétaire : c’est une source majeure de bien-être et de bonheur… Pour lui… Comme pour vous !</p>

<h3 class="titre"> Conseils pour chiens</h3>
    <div style="text-align: center;">
    <img src="{{ asset('assets/pictures/soins1.jpg') }}" width="500" height="500" class="center-image"/>
    </div>
<p class="text"> Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.</p>

<h3 class="titre"> Conseils pour chats</h3>
    <div style="text-align: center;">
    <img src="{{ asset('assets/pictures/soins2.jpg') }}" width="500" height="500" class="center-image"/>
    </div>
<p class="text"> Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.</p>

<h3 class="titre"> Conseils pour lapins</h3>
    <div style="text-align: center;">
    <img src="{{ asset('assets/pictures/soins3.jpg') }}" width="500" height="500" class="center-image"/>
    </div>
<p class="text"> Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.</p>


{% endblock %}