{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="titre">
<h1> FURRY FRIENDS </h1>
<h3> ADOPTE TON NOUVEL AMI POUR LA VIE </h3>
</div>


{% endblock %}
