{% extends 'base.html.twig' %}

{% block title %}Hello TraiterDemandeController!{% endblock %}

{% block body %}
    
    <h1> Formulaire d'adoption</h1>
    <hr>
    <P>Si vous souhaitez soumettre une demande de formulaire concernant l'adoption des animaux; veuillez remplir les champs ci-dessous. </p>
    <hr>
    {{ form (form)}}
    <hr>
{% endblock %}
