{% extends 'base.html.twig' %}

{% block title %}Hello TraiterDemandeController!{% endblock %}

{% block body %}
    
    <h1 class="titre"> Formulaire d'adoption</h1>
    <hr>
    <P class="text">Si vous souhaitez soumettre une demande de formulaire concernant l'adoption des animaux; veuillez remplir les champs ci-dessous. </p>
    <hr>
    <div class="text">
    {{ form (form)}}
    </div>
    <hr>
{% endblock %}
