{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<h1> Bienvenue sur votre profil </h1>
<h3> Veuillez entrez ci-dessous toutes les informations vous concernant </h3>
{{ form (form)}}
{% endblock %}
