.titre
{
text-align: center;
color:white;
text-decoration: overline;
}

.footer {
   background-color: beige;
}

.animal-item {
    margin-top: 50px;
}

.animal-item .product-description {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-container {
    margin-botton: 150px;
}

body {
    background-color:  #3e2003 ;

}

.text {
    color: white;
   font-style: italic;
   text-align: center;
}

.center-image {
    display: block;
    margin: 0 auto;
}

