{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
   {% if notification %}
     <div class="alert alert-info">{{ notification }}</div>
{% endif %}
<hr>
<div class="text">
<div style="text-align: center;">
{{form(form)}}
</div>
</div>

{% endblock %}
